In [9]:
%pip install -e "./Pitmodule"
from Pitmodule.pitframe import *
from Pitmodule.population import PopulationFrame,default_tables
import pandas as pd
# zmienna default tables z modulu population przechowuje wybrane tabele
default_tables
populacje2020 = PopulationFrame()
lud_gminy = populacje2020.data["Gminy"]
lud_gminy

Obtaining file:///C:/Users/adomoslaws001/nypd-finalassignment/PitmoduleNote: you may need to restart the kernel to use updated packages.

  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from Pitmodule==1.0) (1.3.5)
Requirement already satisfied: numpy in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from Pitmodule==1.0) (1.21.5)
Requirement already satisfied: openpyxl in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from Pitmodule==1.0) (3.0.9)
Requirement already satisfied: xlrd in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from Pitmodule==1.0) (2.0.1)
Requirement already satisfied: et-xmlfile in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from openpyxl->Pitmodule==1.0) (1.1.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from pandas->Pitmodule==1.0) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from pandas->Pitmodule==1.0) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas->Pitmodule==1.0) (1.16.0)
Installing collected packages: Pitmodule
  Attempting uninstall: Pitmodule
    Found existing installation: Pitmodule 1.0
    Uninstalling Pitmodule-1.0:
      Successfully uninstalled Pitmodule-1.0
  Running setup.py develop for Pitmodule
Successfully installed Pitmodule-1.0

                      populacja
id      jst
0201011 Bolesławiec       29284
0201022 Bolesławiec       10387
0201032 Gromadka           3841
0201043 Nowogrodziec      10631
0201052 Osiecznica         5036
...                         ...
3218053 Węgorzyno          4923
3261011 Koszalin          80478
3262011 Szczecin         300952
3263011 Świnoujście       31791
nan     75iwięcej             0

[2519 rows x 1 columns]

In [5]:
populacje2020.data["Wojewodztwa"]

                                                              populacja
id        jst
1054.0    96                                                          0
10549.0   85                                                          0
1073478.0 WiekmobilnyMobilityage\n18-44latamężczyźniikobi...          0
111551.0  3-6lat                                                      0
11674.0   84                                                          0
...                                                                 ...
91998.0   70-74                                                       0
9244.0    90-94                                                       0
98736.0   50-54                                                       0
995.0     94                                                          0
nan       Femalesatreproductiveage\n15-49                             0

[2314 rows x 1 columns]

In [36]:
empty_df = pd.DataFrame()

age_cond = ['27','28','29',
                '30-34',
                '35-39',
                '40-44',
                '45-49',
                '50-54',
                '55-59',
                '60-64',
                '65-69',
                '70-74',
                '75-79',
                '80-84',
                '75iwięcej',
                '80iwięcej',
                '85iwięcej'
            ]


with pd.ExcelFile("./data/ludnosc_stan_struktura/tabela06.xls") as xls:
    empty_df = empty_df.append(pd.read_excel(xls,sheet_name="Podkarpackie",skiprows=7,usecols="A:C"))

m={empty_df.columns[0]:"jst",
        empty_df.columns[1]: "id",
        empty_df.columns[2]: "ludnosc"}

empty_df = empty_df.rename(columns= m)
empty_df['id'] = empty_df['id'].astype('str')
empty_df.iloc[:,1] = empty_df.iloc[:,1].str.replace(' ','')
empty_df.iloc[:,0] = empty_df.iloc[:,0].str.replace(' ','')

empty_df = empty_df[ empty_df.iloc[:,1].apply(lambda x: len(str(x)) > 0 and not pd.isnull(x)) | empty_df.iloc[:,0].isin(age_cond)]

empty_df.reset_index(drop=True,inplace=True)

empty_df.loc[empty_df['id'].apply(lambda x: len(x) == 7),'ludnosc'] = 0 
empty_df = empty_df[ empty_df.iloc[:,1].apply(lambda x: len(str(x)) > 0 and not pd.isnull(x)) | empty_df.iloc[:,0].isin(age_cond)]

empty_df.reset_index(drop=True,inplace=True)
val = empty_df.iloc[0,1]
name =empty_df. iloc[0,0]
df_dict = empty_df.to_dict(orient='records')
for row in df_dict:
    if row['id'] == '' or pd.isnull(row['id']):
        row['id'] = val
        row['jst'] = name
    else:
        val = row['id']
        row['ludnosc'] = 0
        name = row['jst']
empty_df = pd.DataFrame(df_dict)
empty_df['ludnosc'] = empty_df['ludnosc'].astype(int)
empty_df  = empty_df.groupby(["id","jst"],as_index=False)["ludnosc"].sum()
empty_df = empty_df[empty_df['id'].notna() & empty_df['ludnosc'] > 0 ]

empty_df

Empty DataFrame
Columns: [id, jst, ludnosc]
Index: []

In [37]:
print(empty_df)

IndexError: single positional indexer is out-of-bounds

In [6]:
age_cond = ['27','28','29',
                '30-34',
                '35-39',
                '40-44',
                '45-49',
                '50-54',
                '55-59',
                '60-64',
                '65-69',
                '70-74',
                '75-79',
                '80-84',
                '75iwięcej',
                '80iwięcej',
                '85iwięcej'
            ]

tabs = default_tables = {
    "Gminy":"tabela12.xls",
    "Powiaty":"tabela06.xls",
    "Wojewodztwa":"tabela03.xls"
}
jst = "Gminy"
jst_frame = pd.DataFrame()
with pd.ExcelFile("./data/ludnosc_stan_struktura/"+tabs[jst]) as xls:
    with pd.ExcelWriter('output.xlsx') as wrt:
        for sheet in xls.sheet_names:
            tmp =pd.read_excel(xls,sheet_name=sheet,skiprows =7,usecols="A:C")
            
            # rename columns
            m={tmp.columns[0]:"jst",
            tmp.columns[1]: "id",
            tmp.columns[2]: "populacja"}
            tmp = tmp.rename(columns= m)

            tmp = tmp.astype('str')
            tmp.iloc[:,1] = tmp.iloc[:,1].str.replace(' ','')
            tmp.iloc[:,0] = tmp.iloc[:,0].str.replace(' ','')

            #slicing & editing
            tmp =  tmp[tmp.iloc[:,1].apply(lambda x: len(str(x)) > 0 and not pd.isnull(x)) | tmp.iloc[:,0].isin(age_cond)]
            
            #preapare data for swaping values
            code_len = {'Gminy':7,'Powiaty':4,'Wojewodztwa':2}
            tmp.loc[tmp['id'].apply(lambda x: len(x) == code_len[jst]),'populacja'] = 0 

            val = tmp.iloc[0,1]
            name =tmp. iloc[0,0]
            df_dict = tmp.to_dict(orient='records')
            for row in df_dict:
                if row['id'] == '' or pd.isnull(row['id']):
                    row['id'] = val
                    row['jst'] = name
                else:
                    val = row['id']
                    row['populacja'] = 0
                    name = row['jst']
            tmp = pd.DataFrame(df_dict)
            tmp  = tmp.groupby(by=['id','jst'])[['populacja']].sum()
            tmp.to_excel(wrt,sheet_name= sheet) 
            jst_frame = jst_frame.append(tmp)
        
jst_frame

C:\Users\ADOMOS~1\AppData\Local\Temp/ipykernel_22520/4275640433.py:59: FutureWarning: Dropping invalid columns in DataFrameGroupBy.add is deprecated. In a future version, a TypeError will be raised. Before calling .add, select only columns which should be valid for the function.
  tmp  = tmp.groupby(by=['id','jst'])[['populacja']].sum()

Empty DataFrame
Columns: []
Index: [(0201011, Bolesławiec), (0201022, Bolesławiec), (0201032, Gromadka), (0201043, Nowogrodziec), (0201052, Osiecznica), (0201062, WartaBolesławiecka), (0202011, Bielawa), (0202021, Dzierżoniów), (0202033, Pieszyce), (0202041, PiławaGórna), (0202052, Dzierżoniów), (0202062, Łagiewniki), (0202073, Niemcza), (0203011, Głogów), (0203022, Głogów), (0203032, Jerzmanowa), (0203042, Kotla), (0203052, Pęcław), (0203062, Żukowice), (0204013, Góra), (0204022, Jemielno), (0204032, Niechlów), (0204043, Wąsosz), (0205011, Jawor), (0205023, Bolków), (0205032, Męcinka), (0205042, Mściwojów), (0205052, Paszowice), (0205062, WądrożeWielkie), (0206011, Karpacz), (0206021, Kowary), (0206031, Piechowice), (0206041, SzklarskaPoręba), (0206052, JanowiceWielkie), (0206062, JeżówSudecki), (0206072, Mysłakowice), (0206082, Podgórzyn), (0206092, StaraKamienica), (0207011, KamiennaGóra), (0207022, KamiennaGóra), (0207033, Lubawka), (0207042, Marciszów), (0208011, Duszniki-Zdrój), (0208021, Kłodzko), (0208031, Kudowa-Zdrój), (0208041, NowaRuda), (0208051, Polanica-Zdrój), (0208063, BystrzycaKłodzka), (0208072, Kłodzko), (0208083, Lądek-Zdrój), (0208092, LewinKłodzki), (0208103, Międzylesie), (0208112, NowaRuda), (0208123, Radków), (0208133, StronieŚląskie), (0208143, Szczytna), (0209011, Chojnów), (0209022, Chojnów), (0209032, Krotoszyce), (0209042, Kunice), (0209052, LegnickiePole), (0209062, Miłkowice), (0209073, Prochowice), (0209082, Ruja), (0210011, Lubań), (0210021, Świeradów-Zdrój), (0210033, Leśna), (0210042, Lubań), (0210053, Olszyna), (0210062, Platerówka), (0210072, Siekierczyn), (0211011, Lubin), (0211022, Lubin), (0211032, Rudna), (0211043, Ścinawa), (0212013, GryfówŚląski), (0212023, Lubomierz), (0212033, LwówekŚląski), (0212043, Mirsk), (0212053, Wleń), (0213012, Cieszków), (0213022, Krośnice), (0213033, Milicz), (0214011, Oleśnica), (0214023, Bierutów), (0214032, Dobroszyce), (0214042, DziadowaKłoda), (0214053, Międzybórz), (0214062, Oleśnica), (0214073, Syców), (0214083, Twardogóra), (0215011, Oława), (0215022, Domaniów), (0215033, Jelcz-Laskowice), (0215042, Oława), (0216013, Chocianów), (0216022, Gaworzyce), (0216032, Grębocice), (0216043, Polkowice), (0216053, Przemków), ...]

[2519 rows x 0 columns]

In [18]:
pd.ExcelFile("./data/ludnosc_stan_struktura/tabela12.xls").sheet_names

['Dolnośląskie',
 'Kujawsko-pomorskie',
 'Lubelskie',
 'Lubuskie',
 'Łódzkie',
 'Małopolskie',
 'Mazowieckie',
 'Opolskie',
 'Podkarpackie',
 'Podlaskie',
 'Pomorskie',
 'Śląske',
 'Świętokrzyskie',
 'Warmińsko-mazurskie',
 'Wielkopolskie',
 'Zachodniopomorskie']

In [6]:
empty_df

              jst       id  ludnosc
0     JeleniaGóra  0261011        0
1     JeleniaGóra  0261011      800
2     JeleniaGóra  0261011      784
3     JeleniaGóra  0261011      828
4     JeleniaGóra  0261011     5024
...           ...      ...      ...
2771     Żukowice  0203062      218
2772     Żukowice  0203062      139
2773     Żukowice  0203062       65
2774     Żukowice  0203062       47
2775     Żukowice  0203062       47

[2776 rows x 3 columns]

In [91]:
non_empty = empty_df.loc[empty_df['id'].apply(lambda x: len(str(x)) > 0 and not pd.isnull(x))] 
non_empty

                    jst       id  ludnosc
0           JeleniaGóra  0261011    78335
16              Legnica  0262011    98436
32              Wrocław  0264011   641928
48    Wrocław-Fabryczna  0264029   207715
64       Wrocław-Krzyki  0264039   179891
...                 ...      ...      ...
2699          ZłotyStok  0224073     4410
2715              Żarów  0219083    12335
2731            Żmigród  0220063    14608
2747           Żórawina  0223092    11406
2763           Żukowice  0203062     3469

[174 rows x 3 columns]

In [74]:
val = empty_df.iloc[0,1]
sum = 0
for index in empty_df.index:
    if empty_df.iloc[index,1] == '' or pd.isnull(empty_df.iloc[index,1]):
        empty_df.iloc[index,1] = val
        sum += int(empty_df.iloc[index,2])
    else:
        val = empty_df.iloc[index,1]
        sum = 0 

empty_df

              jst       id  ludnosc
0     JeleniaGóra  0261011    78335
1              27  0261011      800
2              28  0261011      784
3              29  0261011      828
4           30-34  0261011     5024
...           ...      ...      ...
2774        65-69  0203062      218
2775        70-74  0203062      139
2776        75-79  0203062       65
2777        80-84  0203062       47
2778    85iwięcej  0203062       47

[2779 rows x 3 columns]

              jst       id  ludnosc
0     JeleniaGóra  0261011    78335
1              27               800
2              28               784
3              29               828
4           30-34              5024
...           ...      ...      ...
2774        65-69               218
2775        70-74               139
2776        75-79                65
2777        80-84                47
2778    85iwięcej                47

[2779 rows x 3 columns]

In [71]:
val = empty_df.iloc[0,1]
val_set = [val]
for index in empty_df.index:
    cell = empty_df.iloc[index,1]
    if not (cell == '' or pd.isnull(cell)):
        val = cell
        val_set.append(val)
        
    
len(val_set)

175