In [2]:
%pip install -e "./Pitmodule"

Obtaining file:///C:/Users/adomoslaws001/nypd-finalassignment/Pitmodule
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from Pitmodule==1.0) (1.3.5)
Requirement already satisfied: numpy in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from Pitmodule==1.0) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from pandas->Pitmodule==1.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from pandas->Pitmodule==1.0) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\adomoslaws001\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas->Pitmodule==1.0) (1.16.0)
Installing collected packages: Pitmodule
  Attempting uninstall: Pitmodule
    Found existing installation: Pitmodule 1.0
    Uninstalling Pitmodule-1.0:
Note: you may need to restart the kernel to use updated packages.      Successfully uninstalled Pitmodule-1.0

  Running setup.py develop for Pitmodule
Successfully installed Pitmodule-1.0

In [3]:
# general check of PitFrame
from Pitmodule.pitframe import *
pit2019 = PitFrame(year=2019)
pit2020 = PitFrame(year=2020)

In [8]:
# testowanie uproszczenia, zgdonosci formatu oraz getPIT
import pandas as pd

pit2020 == pit2019 == PitFrame(is_path=False)
tmp = pit2020.get_PIT()
tmp.save_xlsx(name= "pitTest")
tmp2 = pit2019.get_PIT()

gminy2020 = tmp.data["Gminy"]
gminy2019 = tmp.data["Gminy"]
key_cols = ['gt','jst','wojewodztwo','powiat','naleznosci']
#pd.merge(gminy2020,gminy2019,how = 'inner',on=['gt','jst','wojewodztwo','powiat'],suffixes=('2020','2019'))
pitu = pit2020.compare(pit2019)
pitu.data['Powiaty']

,jst,wojewodztwo,powiat,naleznosci2020,naleznosci2019,Roznica(%)
0,bolesławiecki,dolnośląskie,-,21276533,21984822,-0.032217
1,dzierżoniowski,dolnośląskie,-,21328692,21906718,-0.026386
2,głogowski,dolnośląskie,-,28916309,30347660,-0.047165
3,górowski,dolnośląskie,-,5682116,5784270,-0.017661
4,jaworski,dolnośląskie,-,10450783,10550026,-0.009407
...,...,...,...,...,...,...
308,stargardzki,zachodniopomorskie,-,27801859,27896289,-0.003385
309,szczecinecki,zachodniopomorskie,-,15277345,15901267,-0.039237
310,świdwiński,zachodniopomorskie,-,8641304,8990457,-0.038836
311,wałecki,zachodniopomorskie,-,10931442,11274515,-0.030429
312,łobeski,zachodniopomorskie,-,6038431,6350164,-0.049091

In [9]:
pitu.data.keys

dict_keys(['Gminy', 'Powiaty', 'Wojewodztwa', 'Metropolia', 'Miasta_Gminy', 'Miasta_Powiaty'])

In [10]:
# task1 Compare results
t = pit2020.compare(pit2019)
df = t.data["Miasta_Powiaty"]
df = df[ df["wojewodztwo"] == "mazowieckie"]
df

,jst,wojewodztwo,powiat,naleznosci2020,naleznosci2019,Roznica(%)
20,ostrołęka,mazowieckie,-,14430953,15132261,-0.046345
21,płock,mazowieckie,-,40963925,43155284,-0.050778
22,radom,mazowieckie,-,58062919,60575893,-0.041485
23,siedlce,mazowieckie,-,26017876,26980131,-0.035665
24,m. st. warszawa,mazowieckie,-,1301271209,1339313472,-0.028404

In [11]:
t1 = pit2019.get_PIT()
t1.data['Gminy'].columns

Index(['gt', 'jst', 'wojewodztwo', 'powiat', 'naleznosci'], dtype='object')

In [29]:
gminy = pit2020.data["Gminy"]
gminy[gminy['jst'].str.contains("wał")]
gminy

               jst         wojewodztwo         powiat naleznosci
6      bolesławiec        dolnośląskie  bolesławiecki   40456699
7      bolesławiec        dolnośląskie  bolesławiecki   13789712
8         gromadka        dolnośląskie  bolesławiecki    3573540
9     nowogrodziec        dolnośląskie  bolesławiecki    9553744
10      osiecznica        dolnośląskie  bolesławiecki    5844560
...            ...                 ...            ...        ...
2412         dobra  zachodniopomorskie        łobeski    2010454
2413         łobez  zachodniopomorskie        łobeski    8834999
2414   radowo małe  zachodniopomorskie        łobeski    1546533
2415         resko  zachodniopomorskie        łobeski    6612100
2416     węgorzyno  zachodniopomorskie        łobeski    3476544

[2411 rows x 4 columns]

In [14]:
# testowanie ludosc 
# calculate per population
import pandas as pd
from Pitmodule.population import PopulationFrame
populacje2020 = PopulationFrame()
populacje2020.data["Gminy"]

                 nazwa  ludnosc
0        M.Bolesławiec    38486
1        G.Bolesławiec    14863
2           G.Gromadka     5317
3     M-W.Nowogrodziec    15229
4       M.Nowogrodziec     4263
...                ...      ...
3756       M.Węgorzyno     2771
3757       G.Węgorzyno     4085
3758        M.Koszalin   106235
3759        M.Szczecin   398255
3760     M.Świnoujście    40948

[3761 rows x 2 columns]

In [32]:
populacje2020.data["Powiaty"] # 314 powiatow oraz 66 M_NPP
powiaty = populacje2020.data["Powiaty"]
m_powiaty = powiaty.loc[powiaty["nazwa"].str.contains("M\.")]
# m_powiaty.loc[m_powiaty['ludnosc'] >70000]
m_powiaty.reset_index(inplace =True)
m_powiaty  = m_powiaty.drop('index',axis= 1)
m_powiaty

                             nazwa  ludnosc
0   M.Jelenia Góra                    78335
1   M.Legnica                         98436
2   M.Wrocław                        641928
3   M.Wałbrzych                      109971
4   M.Bydgoszcz                      344091
..                             ...      ...
61  M.Leszno                          62854
62  M.Poznań                         532048
63  M.Koszalin                       106235
64  M.Szczecin                       398255
65  M.Świnoujście                     40948

[66 rows x 2 columns]

In [33]:
gminy = populacje2020.data["Gminy"]
gminy['nazwa'] = gminy['nazwa'].astype(str)
m_powiaty['nazwa'] = m_powiaty['nazwa'].astype(str)
pd.merge(left =gminy,right=m_powiaty, on ='ludnosc',how="inner",sort=True)
# inner join na nazwach nie działa (hipoteza: polskie znaki)

test = m_powiaty.loc[[1,4]]
gminy.merge(right=test['nazwa'], on ='nazwa',how="inner",sort=True)

Empty DataFrame
Columns: [nazwa, ludnosc]
Index: []

In [12]:
# czy powiaty tez czyste
gminy = populacje2020.data["Gminy"]
re_pref_gmina = "|".join(["M.","M-W.","G"])
gminy.loc[~gminy["nazwa"].str.contains(re_pref_gmina)]
gminy["nazwa"] = gminy["nazwa"].astype(str)
gminy['nazwa']

NameError: name 'populacje2020' is not defined

In [31]:
#gminy.loc[gminy["nazwa"].str.contains('M.')]
gminy[gminy["nazwa"].str.contains('M\.')]

               nazwa  ludnosc
0      M.Bolesławiec    38486
4     M.Nowogrodziec     4263
8          M.Bielawa    29523
9      M.Dzierżoniów    32869
11        M.Pieszyce     7012
...              ...      ...
3753         M.Resko     4147
3756     M.Węgorzyno     2771
3758      M.Koszalin   106235
3759      M.Szczecin   398255
3760   M.Świnoujście    40948

[944 rows x 2 columns]

In [27]:
gminy_new  = pd.concat([gminy,m_powiaty])
gminy_new[~gminy_new.index.duplicated(keep=False)]

                nazwa  ludnosc
66      M.Lądek-Zdrój     5466
67      G.Lądek-Zdrój     2654
68    G.Lewin Kłodzki     1921
69    M-W.Międzylesie     7119
70      M.Międzylesie     2514
...               ...      ...
3756      M.Węgorzyno     2771
3757      G.Węgorzyno     4085
3758       M.Koszalin   106235
3759       M.Szczecin   398255
3760    M.Świnoujście    40948

[3695 rows x 2 columns]

In [3]:
# merge powiaty 
pit2020.data["Gminy"]

,wk,pk,gk,gt,jst,wojewodztwo,powiat,klDzial,klRozdzial,klParagraf,naleznosci,dochodyWyk,saldoNaleznosciOgolem,saldoZaleglosciNetto,saldoNadplaty
6,02,01,01,1,BOLESŁAWIEC,dolnośląskie,bolesławiecki,756,75621,0010,40456699,40456699,NaN,NaN,NaN
7,02,01,02,2,BOLESŁAWIEC,dolnośląskie,bolesławiecki,756,75621,0010,13789712,13789712,NaN,NaN,NaN
8,02,01,03,2,GROMADKA,dolnośląskie,bolesławiecki,756,75621,0010,3573540,3573540,NaN,NaN,NaN
9,02,01,04,3,NOWOGRODZIEC,dolnośląskie,bolesławiecki,756,75621,0010,9553744,9553744,NaN,NaN,NaN
10,02,01,05,2,OSIECZNICA,dolnośląskie,bolesławiecki,756,75621,0010,5844560,5844560,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412,32,18,01,3,DOBRA,zachodniopomorskie,łobeski,756,75621,0010,2010454,2010454,NaN,NaN,NaN
2413,32,18,02,3,ŁOBEZ,zachodniopomorskie,łobeski,756,75621,0010,8834999,8834999,NaN,NaN,NaN
2414,32,18,03,2,RADOWO MAŁE,zachodniopomorskie,łobeski,756,75621,0010,1546533,1546533,NaN,NaN,NaN
2415,32,18,04,3,RESKO,zachodniopomorskie,łobeski,756,75621,0010,6612100,6612100,NaN,NaN,NaN
2416,32,18,05,3,WĘGORZYNO,zachodniopomorskie,łobeski,756,75621,0010,3476544,3476544,NaN,NaN,NaN